<!DOCTYPE html>
<html>
<head>
    <title>Contact Us</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
    <%- include('partials/nav') %>
    <h1>Contact Us</h1>
    <p>Contact information goes here.</p>
</body>
</html>