<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body class="contact">
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/services">Our Services</a></li>
                <li><a href="/contact">Contact Us</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Contact Us</h1>
        <p>Reach out to us through the contact form or our contact details.<br>
            Email:lovaspeed.gmail.com
        </p>
    </main>
    <footer>
        <p>&copy; 2024 lovaspeed</p>
    </footer>
</body>
</html>
